@model PreviewSlideViewModel
@{
    ViewData["Title"] = "Slide Preview";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/icons/favicon-16x16.png">
    @* <link rel="manifest" href="~/assets/images/icons/site.json"> *@
    <link rel="mask-icon" href="~/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="~/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="~/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/owl-carousel/owl.carousel.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/skins/skin-demo-13.css">
    <link rel="stylesheet" href="~/assets/css/demos/demo-13.css">

</head>
<body>
    <div class="card p-0 vh-100">
        <div class="card-header p-4">
            <h1>Slide Preview</h1>
        </div>
        <hr />
        <div class="card-body p-0">
            <div class="intro-slider-container">
            <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{
                                "nav": false,
                                "responsive": {
                                    "992": {
                                        "nav": true
                                    }
                                }
                            }'>
                    <div class="intro-slide" style="background-image: url(@(Model.ImageBase64 != null?Model.ImageBase64:"/files/images/"+Model.Image));">
                    <div class="container intro-content">
                        <div class="row">
                            <div class="col-auto offset-lg-3 intro-col">
                                <h3 class="intro-subtitle">@Model.SubTitle</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title">
                                    @Model.Title
                                    <span>
                                        <sup class="font-weight-light">@Model.SubLeft</sup>
                                        <span class="text-primary">@Model.Price<sup>@Model.SubRight</sup></span>
                                    </span>
                                </h1><!-- End .intro-title -->

                                <a href="@Model.Link" class="btn btn-outline-primary-2">
                                    <span>@Model.ButtonText</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .col-auto offset-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container intro-content -->
                </div><!-- End .intro-slide -->

            </div><!-- End .owl-carousel owl-simple -->

            <span class="slider-loader"></span><!-- End .slider-loader -->
        </div><!-- End .intro-slider-container -->
        </div>
    </div>

</body>
<!-- Plugins JS File -->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>

<!-- Main JS File -->
<script src="~/assets/js/main.js"></script>

<srcipt>

</srcipt>
</html>