<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/Dashboard/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3 bg-white" style="opacity: 1">
        <span class="brand-text font-weight-light">Dashboard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Dashboard/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@User.Identity?.Name</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item @(ViewData["Controller"]?.ToString() == "Categories"?"menu-open":"")">
                    <a href="#" class="nav-link  @(ViewData["Controller"]?.ToString()=="Categories"?"active":"")">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            Categories
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item ">
                            <a asp-controller="Categories" asp-action="Index" class="nav-link @(ViewData["HeaderTitle"]?.ToString()=="Categories"?"active":"")">
                                <i class="@(ViewData["HeaderTitle"]?.ToString()=="Categories"?"fas":"far")  fa-circle nav-icon"></i>
                                <p>Show All</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Categories" asp-action="Create" class="nav-link @(ViewData["HeaderTitle"]?.ToString()=="CreateCategory"?"active":"")">
                                <i class="@(ViewData["HeaderTitle"]?.ToString()=="CreateCategory"?"fas":"far")  fa-circle nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item @(ViewData["Controller"]?.ToString() == "Products"?"menu-open":"")">
                    <a href="#" class="nav-link  @(ViewData["Controller"]?.ToString()=="Products"?"active":"")">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            Products
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item ">
                            <a asp-controller="Products" asp-action="Index" asp-route-id="@null" class="nav-link @(ViewData["HeaderTitle"]?.ToString()=="Products"?"active":"")">
                                <i class="@(ViewData["HeaderTitle"]?.ToString()=="Products"?"fas":"far")  fa-circle nav-icon"></i>
                                <p>Show All</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Products" asp-action="Create" class="nav-link @(ViewData["HeaderTitle"]?.ToString()=="CreateProduct"?"active":"")">
                                <i class="@(ViewData["HeaderTitle"]?.ToString()=="CreateProduct"?"fas":"far")  fa-circle nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item @(ViewData["Controller"]?.ToString() == "Coupons"?"menu-open":"")">
                    <a href="#" class="nav-link  @(ViewData["Controller"]?.ToString()=="Coupons"?"active":"")">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            Coupons
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item ">
                            <a asp-controller="Coupons" asp-action="Index" class="nav-link @(ViewData["HeaderTitle"]?.ToString()=="Coupons"?"active":"")">
                                <i class="@(ViewData["HeaderTitle"]?.ToString()=="Coupons"?"fas":"far")  fa-circle nav-icon"></i>
                                <p>Show All</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Coupons" asp-action="Create" class="nav-link @(ViewData["HeaderTitle"]?.ToString()=="CreateCoupon"?"active":"")">
                                <i class="@(ViewData["HeaderTitle"]?.ToString()=="CreateCoupon"?"fas":"far")  fa-circle nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
