@model IEnumerable<CouponViewModel>
@{
    ViewData["Title"] = "Coupons";
    ViewData["HeaderTitle"] = ViewData["Title"];
    ViewData["Controller"] = ViewData["Title"];
}

<div class="col-12">
   

        <h1 class="text-primary mb-3">Coupons</h1>
        <div class="card p-2">
            <div class="card-header">
                <h3 class="card-title">Coupons</h3>
            </div>
            <div class="card-body table-responsive p-0">
           
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(coupon => coupon.Code)</th>
                            <th>@Html.DisplayNameFor(coupon => coupon.Type)</th>
                            <th>@Html.DisplayNameFor(coupon => coupon.Discount)</th>
                            <th>@Html.DisplayNameFor(coupon => coupon.Status)</th>
                            <th>@Html.DisplayNameFor(coupon => coupon.StartDate)</th>
                            <th>@Html.DisplayNameFor(coupon => coupon.EndDate)</th>
                            <th>@Html.DisplayNameFor(coupon => coupon.CreatedAt)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Code</td>
                                <td>@item.Type</td>
                                <td>@item.Discount</td>
                                <td class="@(item.Status==true?"text-success":"text-danger")">@(item.Status==true?"Active":"Inactive")</td>
                                <td>@item.StartDate.ToLocalTime()</td>
                                <td>@item.EndDate.ToLocalTime()</td>
                                <td>@item.CreatedAt.ToLocalTime()</td>
                                <td>
                                    <a class="btn btn-info btn-sm" asp-controller="Coupons" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="fas fa-clipboard">
                                        </i>
                                        Details
                                    </a>
                                    <a class="btn btn-primary btn-sm" asp-controller="Coupons" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="fas fa-edit">
                                        </i>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" asp-controller="Coupons" asp-action="Delete" asp-route-id="@item.Id">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
           
            </div>
        </div>
  
   
</div>

@section Styles {
    <partial name="_DatatablesStyles" />
}
@section Scripts {

    <partial name="_DatatablesScripts" />

}